In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set_style("whitegrid")
import matplotlib.pyplot as plt
import sklearn

In [6]:
#Install the dataset we are interested in containing ipl match information from 2008-2023: 

data_ipl = pd.read_csv("/Users/Shreya1/Desktop/projects/Ipl win predictor project/ipl 2008-2023 data/match_info_data.csv")

#looking at the frist 5 rows of the dataset we're interested in: 

data_ipl.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit

In [7]:
#Brief summary: 

data_ipl.describe()

                 id   dl_applied  win_by_runs  win_by_wickets
count  1.024000e+03  1024.000000  1024.000000     1024.000000
mean   8.687579e+05     0.020508    13.610352        3.286133
std    3.528920e+05     0.141799    23.443273        3.375659
min    3.359820e+05     0.000000     0.000000        0.000000
25%    5.483138e+05     0.000000     0.000000        0.000000
50%    8.298140e+05     0.000000     0.000000        3.000000
75%    1.216503e+06     0.000000    19.000000        6.000000
max    1.370353e+06     1.000000   146.000000       10.000000

In [8]:
#Checking for missing values:
data_ipl.isnull().sum()

id                  0
season              0
city               51
date                0
team1               0
team2               0
toss_winner         0
toss_decision       0
result              0
dl_applied          0
winner             19
win_by_runs         0
win_by_wickets      0
player_of_match     5
venue               0
umpire1             0
umpire2             0
umpire3             3
dtype: int64

In [9]:
#Dropping columns:
data_ipl = data_ipl.iloc[:,:-1]
data_ipl.dropna(inplace=True)

In [11]:
#Total teams listed:
data_ipl["team1"].unique()

#Changing names of teams: 
#for Delhi Capitals
data_ipl['team1']=data_ipl['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
data_ipl['team2']=data_ipl['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
data_ipl['winner']=data_ipl['winner'].str.replace('Delhi Daredevils','Delhi Capitals')
#for sunrisers Hyderabad
data_ipl['team1']=data_ipl['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
data_ipl['team2']=data_ipl['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
data_ipl['winner']=data_ipl['winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')